*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100vh;
    width: 100%;
    background: #edf2fc;
    font-family: sans-serif;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #606163;
}

nav ul li a:hover{
    color: #ff4321;
}